body {
	font-family: Tahoma, Arial Narrow, Arial, Verdana, Sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #000000;
	margin: 3px;
	padding: 0;
	background: #FFFFFF;
}

p {
	margin: 10px;
	padding: 0px 3px 0px 0px;
	text-align: center;
}

a {
	margin: 0;
	text-decoration: none;
	background: transparent;
	color: #000000;
	padding: 0px 3px 0px 0px;
	display: block;
	height:  21px;
	vertical-align: middle;
}

a:hover {
	text-decoration: underline;
}

select, input {
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	width: 100%;
}

img {
	margin: 2px 0px 1px 1px;
	background: transparent;
}

form {
	margin: 0;
	padding: 0;
	border: 0;
}

.selected {
	border: dotted 1px #808080;
	background: #0000FF;
	color: #FFFFFF;
}

.disabled {
	margin: 0px;
	font-size: 9pt;
	text-decoration: none;
	color: #C0C0C0;
}