body {
	background: #3A85E1;
	border-left: solid 2px buttonhighlight;
	padding: 0;
	margin: 0;
}

img {
	border: 0;
	margin: 0;
	padding: 0;
	display: inline;
}

span {
	margin: 0;
	border: 0;
	padding: 0;
}

a {
	border: solid 1px #3A85E1;
	padding: 1px;
	margin: 0;
	display: block;
	float: left;
	clear: none;
}

a:hover {
	border: solid 1px #3A85E1;
	padding: 0px 2px 2px 0px;
}

#tool1, #tool2, #tool3 {
	width: 25px;
	height: 25px;
	display: block;
	float: left;
}

#toolbar {
	margin: 0 0 0 -3px;
	padding: 0;
	border: 0;
	position: absolute;
	top: 3px;
	left: 3px;
}

.toolbarcontrol, .separator {
	display: block;
	float: left;
	clear: none;
	width: 1px;
	height: 23px;
	margin: 4px 3px 0px 3px;
}

.toolbarcontrol {
	border-left: solid 1px #4096FF;
	border-right: solid 1px #235694;
}

.separator {
	border-right: solid 1px #4096FF;
	border-left: solid 1px #235694;
}

#logout, #configuration {
	float: right;
	margin-right: 5px;
}