input {
 background-color: #999;
 color: #DFD;
 cursor: pointer;
}

input[disabled='disabled'] {
  background: #888;
  color: #AAA;
  cursor:default;
}

body,td,th {
	font-size: 14px;
	color: #BBB;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
}
a {
	font-size: 14px;
	color: #900;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #900;
}
a:hover {
	text-decoration: underline;
	color: #F00;
}
a:active {
	text-decoration: none;
}

div#leftFrame {
 overflow:auto;
 position: fixed;
 width:170px;
 top: 0;
 right: auto;
 bottom: 0;
 left: 0;
 padding:10px;
 background-color: #200;
 border-right: solid 3px;
 border-color: #333;
}

div#mainFrame {
 overflow:auto;
 position: fixed;
 width:auto;
 top: 0;
 bottom: 180px;
 left: 193px;
 right: 0;
 padding:10px;
 background-color: #000;
 border-bottom: solid 3px;
 border-color: #333;
}

div#bottomFrame {
 overflow:auto;
 position: fixed;
 width:auto;
 bottom: 0;
 left: 193px;
 right: 0;
 height:160px;
 padding:10px;
 background-color: #100;
}
                                                                                                                                                                                                      